body{
  margin:0;
  box-sizing: border-box;
}
header{
  width:80%;
  margin:0 auto;  
}
header h1{
  font-size:4rem;
  font-weight:600;
  color:#333;
  text-align: center;
}
section{
  width:80%;
  margin:0 auto;
}
section h2{
  font-size:2rem;
  color:#666;
  text-align: center;
}
section h2 p{
  font-size:1rem;
  color:#999;
  text-align: center;
}